/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: #555;
    padding: 20px 0;
}

.location-input {
    text-align: center;
    padding: 20px;
}

#cityInput {
    padding: 10px;
    width: 60%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#searchBtn {
    padding: 10px 20px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.weather-info {
    text-align: center;
    padding: 20px;
}

.weather-info p {
    margin: 10px 0;
}
.forecast-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}


/* Responsive Styles */
@media screen and (max-width: 600px) {
    .container {
        max-width: 90%;
    }

    #cityInput {
        width: 50%;
    }

    #searchBtn {
        padding: 8px 16px;
    }
}
